@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/* SidePanel.scss */
.side-panel {
    font-family: 'Roboto Condensed', sans-serif;
    position: fixed;
    top: 50px; /* Adjust this based on your menu bar's height */
    left: -250px; /* Initially off-screen */
    width: 250px; /* Adjust the width of the side panel */
    height: calc(100% - 50px); /* Full height minus the menu bar height */
    background-color: #333;
    color: white;
    transition: left 0.3s ease-in-out; /* Smooth sliding effect */
    z-index: 999;
  }
  
  .side-panel.open {
    left: 0; /* When open, slide in from the left */
  }
  
  .side-panel-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .side-panel-header .burger {
    cursor: pointer;
  }
  
  .panel-content {
    margin-top: 50px;
    padding-left: 15px;
  }
  
  .panel-content p {
    color: white;
  }
  