@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/* SidePanel.scss */
.side-panel {
  font-family: 'Roboto Condensed', sans-serif;
  position: fixed;
  left: 0;
  width: 70px; /* Collapsed width */
  height: 100%; /* Full height */
  background-color: #b0acac;
  color: white;
  transition: width 0.3s ease-in-out; /* Smooth transition for width */
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px; /* Adjust padding for collapsed state */
}

.side-panel.open {
  width: 220px; /* Expanded width when open */
}

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.side-icons {
  margin-top: 30px; /* Adjust spacing between the burger and icons */
  display: flex;
  ;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
  display: none; /* Hide icons in collapsed state */
}

// .side-panel.open .side-icons {
//   display: flex; /* Show icons when panel is open */
// }

.side-icons span {
  color: white;
  font-size: 18px;
  cursor: pointer;
}
